*   {
   box-sizing: border-box;
}

header {
   z-index: 1;
   background: url(images/finalheader.jpg);
   background-size: cover;
   display: flex;
   justify-content: flex-end;
   background-position: center left;
   padding: 50px 0;
}


.featured {
   margin: 2em 2em;
}

.featured img {
   border: 3px solid black;
}

.featured p {
   margin-left: 2em;
}

.featured h2 {
   font-family: 'Fjalla One', sans-serif;
   margin-left: 1em;
}

.sitename {
   font-family: 'Ranga', cursive;
   color: white;
   text-shadow: 3px 3px 8px black;
   font-size: 500%;
   text-align: right;
   padding-right: 2em;
   padding-top: 1em;
}

nav {
   background-color: #3d5f29;
   display: flex;
   justify-content: center;
}

nav ul {
   height: 70px;
   font-size: 20px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

nav a {
   text-decoration: none;
   color: white;
   border: 4px solid #b4d6a0;
   border-radius: 2em;
   padding: .75em;
   transition: background-color .5s ease;
}

nav a:hover {
   background-color: #1e3014;
}

nav li a:hover,
.current {
   background-color: #b4d6a0;
   color: #3d5f29;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   box-sizing: border-box;
}

.container img {
   align-items: center;
   justify-items: center;
   max-width: 500px;
}


.featured {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
}


.front {
   grid-column: 1/2;
   grid-row: 1/3;
   margin: .5em;
}

.back {
   grid-column: 1/2;
   grid-row: 3/5;
   margin: .5em;
}

.featured p {
   grid-column: 2/4;
   grid-row: 2/5;
   font-size: 180%;
   line-height: 1.75em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.featured h2 {
   font-family: 'Fjalla One', sans-serif;
   grid-column: 2/4;
   grid-row: 1/2;
   font-size: 400%;
   margin: .75em 0 .5em .85em;
}

.statequarters {
   margin: .5em 15em;
   border: 8px solid #3d5f29;
}

.statequarters h1 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 400%;
   text-align: center;
   margin: .5em 0;
}

.statequarters p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 150%;
   line-height: 1.75em;
   margin: 1em 1.5em;
}

.quarters {
   max-width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   transition: all 1s ease;
}

.quarters img {
   border: 13px solid #3d5f29;
   border-radius: 10em;
   margin: 1.5em .75em;
}

.quarters img:hover {
   scale: 1.25;
   border: 13px solid #b4d6a0;
}

.fintro {
   margin: .5em 15em;
   border: 8px solid #3d5f29;
}

.fintro p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 150%;
   line-height: 1.75em;
   margin: 1em 1.5em;
}

.fintro h1 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 400%;
   text-align: center;
   margin: .5em 0;
}

.foreignbills {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   grid-gap: 3em;
   justify-items: center;
}

.foreignbills img {
   max-width: 85%;
   height: auto;
   border: 13px solid #3d5f29;
   border-radius: 5em;
   align-items: center;
}

.foreignbills img:hover {
   border: 13px solid #b4d6a0;
}

.specialintro {
   margin: .5em 15em;
   border: 8px solid #3d5f29;
}
.specialintro h1 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 400%;
   text-align: center;
   margin: .5em 0;
}

.special p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 150%;
   line-height: 1.75em;
   margin: 1em 1.5em;
}

.specialcoins {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   grid-gap: 3em;
   justify-items: center;
}

.specialcoins img {
   max-width: 100%;
   height: auto;
   border: 13px solid #3d5f29;
   border-radius: 5em;
   align-items: center;
}

.specialcoins img:hover {
   border: 13px solid #b4d6a0;
}

.multi {
   grid-column: 1/3;
   grid-row: 1/2;
}




@media only screen and (max-width: 480px) {

   div.wrapper {
      width: 100%;
      margin: 0;
   }

   img {
      max-width: 100%;
      height: auto;
   }

   header {
      margin: 0;
      padding: .75em;
   }

   .sitename {
      font-size: 250%;
      text-align: right;
      padding: 1.5em 0 0 0;
   }

   nav.topnav {
      max-width: 100%;
   }

   nav {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 50%;
   }

  nav ul {
   font-size: 195%;
   margin: .65em .65em;
  }

  .homepage {
   max-width: 100%;
   font-size: 30%;
  }

  .homepage img {
   max-width: 100%;
  }

  .featured {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 0;
   }


.front {
      grid-column: 1/3;
      grid-row: 1/3;
      margin: .5em;
   }

.back {
      grid-column: 1/3;
      grid-row: 2/3;
      margin: .5em;
   }

   .featured h2 {
      font-family: 'Fjalla One', sans-serif;
      grid-column: 1/2;
      grid-row: 3/4;
      font-size: 600%;
      margin: .5em 0 0 0;
      text-align: center;
   }

.featured p {
      grid-column: 2/3;
      grid-row: 3/5;
      font-size: 250%;
      line-height: 2em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: .5em 0 0 0;
   }

   .container {
      display: flex;
      flex-direction: column;
   }

   .container img {
      max-width: 50%;
   }

   .statequarters {
      margin: 0;
      font-size: 80%;
   }

   .quarters {
      grid-template-columns: 1fr 1fr;
      grid-gap: 0;
   }

   .quarters img {
      max-width: 90%;
      border: 9px solid #3d5f29;
   }

   .fintro {
      margin: 0;
      font-size: 80%;
   }

   .fintro h1 {
      font-size: 290%;
   }

   .fintro p {
      font-size: 150%
   }

   .foreignbills {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0;
   }

   .foreignbills img {
      border-radius: 0;
      max-width: 100%;
      height: auto;
   }

   .specialintro {
      margin: 0;
      font-size: 80%;
   }

   .specialcoins {
      grid-gap: 0;
      margin: 0;
   }

   .specialcoins img {
      border: 5px solid #3d5f29;
      border-radius: 0;
   }

}